<div class="hero centered">
	<h1>Extra <span class="accent">Dope</span></h1>
</div>
<div class="band--XL">
	<div class="wrapper">
		<div class="page-title">
			<p>The sounds of the boom bap.<br>Fat laces on the kicks.<br>Scruffed up linoleum.<br>The screech of permanent markers<br>and vapors from aerosol paint.<br>Crates of records,<br>stacks of cassette tapes.
			</p>
			<p>This was that culture.</p>
			<p>They refer to it the <em>Golden Age</em>,<br>but for me,<br>it was more than just a time and place.<br>It passed through my veins,<br>it provided an escape.</p>
			<p>These collections of recordings<br>dive into how my life was affected, <br>inspired,<br>and ultimately transformed<br>by hip hop culture.</p>
			<p>These are my tapes...</p>
			<p>This is my story.</p>
		</div>
	</div>
</div>