<audio class="audio-player" id="audioPlayer" preload="auto">
	<source src="{{site.url}}{{site.baseurl}}/audio/{{page.track}}.mp3">
</audio>
<div class="audio-nav">
	<div class="audio-default-bar">
		<div class="audio-progress-bar" id="progressBar">
			
		</div>
		<div class="audio-controls">
			<button class="audio-button-play" id="playButton" type="button"></button>
			<button class="audio-button-mute" id="muteButton" type="button"></button>
			<span class="audio-current-time" id="currentTime">0:00</span>/<span class="audio-total-time" id="totalTime">0:00</span>
		</div>
	</div>
</div>