.audio {
	&-controls {
		border: 1px solid $dark;
		padding: 1em 1em .5em 1em;
	    display: flex;
	    border-radius: 2px;
	    align-items: center;
	}

	&-nav {
		background: $tiffany;
		padding-bottom: 3px;
	}

	&-default-bar {
		position: relative;
		background: $flamingo;
		height: .5em;
	}

	&-progress-bar {
		position: absolute;
		height: .5em;
		background: $flamingo;
	}

	&-button-play {
		border: none;
		background: $white;
		height: 1.5em;
		width: 1.5em;
		margin-right: .35em;
		background-image: url(../assets/svg/play.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		padding: 1px;
		&:active {
			position: relative;
			top: 2px;
		}
		&:focus {
			outline: none;
		}
	}
	
	&-button-mute {
		border: none;
		background: $white;
		height: 1.5em;
		width: 1.5em;
		margin-right: .35em;
		background-image: url(../assets/svg/sound.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		padding: 1px;		
		&:active {
			position: relative;
			top: 2px;
		}
		&:focus {
			outline: none;
		}
	}
}