.hero {
    // background: url(../assets/cleartapes.png) no-repeat center center; 
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
	& h1 {
		font-size: 6.441em;
	}
}

@media all and (max-width: $medium-width) {
    .hero {
    	& h1 {
    		font-size: 4.441em;
    	}
    }
}

@media all and (max-width: $small-width) {
    .hero {
    	& h1 {
    		font-size: 2.441em;
    	}
    }
}