.hero {
    background: url('../assets/concrete.jpg') no-repeat 50% 50%; 
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    min-height: 80vh;
    padding-top: 10em;
	& h1 {
		font-size: 6.441em;
	}
}

@media all and (max-width: $medium-width) {
    .hero {
        padding-top: 12em;
    	& h1 {
    		font-size: 4.441em;
    	}
    }
}

@media all and (max-width: $small-width) {
    .hero {
        padding-top: 13em;
    	& h1 {
    		font-size: 2.441em;
    	}
    }
}