.page {
	& h1 {
		font-size: 6.441em;
	}
}

@media all and (max-width: $medium-width) {
    .page {
    	& h1 {
    		font-size: 4.441em;
    	}
    }
}

@media all and (max-width: $small-width) {
    .page {
    	& h1 {
    		font-size: 2.441em;
    	}
    }
}